<?xml version='1.0' encoding='UTF-8'?>
<!-- 
Configuration file.

Element names are case-sensitive.
Element names starting with the capital letter is read by each of given Class objects.

@author Engine, Jihyeon
@since June 2015
-->
<application>
    
    <Info>
        <name> UB </name>
        <version> 0.0.1 </version>
        <root> </root>
    </Info>

    <Database>
        <name> ub_db </name>
        <host> localhost </host>
        <port> 3306 </port>
        <user> ub </user>
        <password> 1q2w3e4r </password>
    </Database>

    <Router>

        <!-- Root Controller
            URL: context_root/
        -->
        <route>
            <!-- matches empty string -->
            <url> ^\s*$ </url>
            <controller name="Root">

            </controller>
            <method> GET </method>
        </route>

        <!-- Term Controller mapping-->
        <route>
            <url> ^(term$)?(term[?/]+[\s\S]*)?$ </url>
            <controller name="Term">
                <param name="DEFAULT_TERM_COUNT"> 15 </param>
            </controller>
            <method> GET </method>
        </route>

        <route>
            <url> ^(term$)?(term[?/]+[\s\S]*)?$ </url>
            <controller name="Term">

            </controller>
            <method> POST </method>
        </route>

        <route>
            <url> ^(term$)?(term[?/]+[\s\S]*)?$ </url>
            <controller name="Term">

            </controller>
            <method> DELETE </method>
        </route>

        <!--Member Controller mapping-->
        <route>
            <url> ^(member$)?(member[?/]+[\s\S]*)?$ </url>
            <controller name="Member">

            </controller>
            <method> GET </method>
        </route>

        <route>
            <url> ^(member$)?(member[?/]+[\s\S]*)?$ </url>
            <controller name="Member">

            </controller>
            <method> POST </method>
        </route>

        <route>
            <url> ^(login$)?(login[?/]+[\s\S]*)?$ </url>
            <controller name="Login">

            </controller>
            <method> GET </method>
        </route>

        <route>
            <url> ^(login$)?(login[?/]+[\s\S]*)?$ </url>
            <controller name="Login">

            </controller>
            <method> POST </method>
        </route>

    </Router>

    <Thema>
        /application/views/test/thema/thema-default.css
    </Thema>

</application>
