<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- todo : static resource should be served by routing -->

        <link rel="stylesheet" href="css/normalize.css">

        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="application/views/backup/css/index.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/vendor/jquery-1.11.3.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrap">
            <!-- header -->
            <div id="header">
                header
                <!-- gnb -->
                <div class="gnb">
                    gnb
                    <!-- header_menu -->
                    <ul class="header_menu">
                        <li>logo[home anchor]</li>
                        <li>about</li>
                        <li>rules</li>
                    </ul>
                    <!-- //header_menu -->
                    <!-- search_bar -->
                    <ul class="search_bar">
                        <li>search bar</li>
                        <li>create definition</li>
                    </ul>
                    <!-- //search_bar -->
                </div>
                <!-- //gnb -->
            </div>
            <!-- //header -->
            <!-- container -->
            <div id="container">
                container
                <!-- aside -->
                <div class="aside">
                    <!-- ad -->
                    <div class="ad">
                        advertisement1
                    </div>
                    <!-- ad -->
                </div>
                <!-- //aside -->
                <!-- resultPane -->
                <div id="resultPane">
                    resultPane
                    <!-- result -->
                    <div class="result">
                        <!-- content_header-->
                        <div class="result_header">
                            <ul>
                                <li>date</li>
                                <li>submenu#</li>
                            </ul>
                        </div>
                        <!-- //content_header -->
                        <!-- result_content -->
                        <div class="result_content">
                            result_content
                        </div>
                        <!-- //result_content -->
                        <!-- result_content_menu -->
                        <div class="result_content_menu">
                            <ul>
                                <li>menu1</li>
                                <li>menu2</li>
                            </ul>
                        </div>
                        <!-- //result_content_menu -->
                    </div>
                    <!-- //result -->
                    <!-- result -->
                    <div class="result">
                        <!-- content_header-->
                        <div class="result_header">
                            <ul>
                                <li>date</li>
                                <li>submenu#</li>
                            </ul>
                        </div>
                        <!-- //content_header -->
                        <!-- result_content -->
                        <div class="result_content">
                            result_content
                        </div>
                        <!-- //result_content -->
                        <!-- result_content_menu -->
                        <div class="result_content_menu">
                            <ul>
                                <li>menu1</li>
                                <li>menu2</li>
                            </ul>
                        </div>
                        <!-- //result_content_menu -->
                    </div>
                    <!-- //result -->
                </div>
                <!-- //resultPane -->
            </div>
            <!-- //container -->
        </div>

    </body>
</html>
