/*
Color set

deep blue : 2D79B2
light blue : 74C3FF

deep orange : FFAD0B
light orange : FFCA5E
*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body{
    font-family: 'Nanum Gothic Coding', monospace;
    background : url(../img/index.jpg) repeat;
}

/* header
---------------------------------------------------*/

header{
    width : 100%;
    height : 60px;
    -moz-box-shadow: 0px 9px 11px #DBDBDB;
    -webkit-box-shadow: 0px 9px 11px #DBDBDB;
    box-shadow: 0px 9px 11px #DBDBDB;
    line-height : 60px;
    background : white;
}

header .header_menu{
    float : left;
}

header .header_menu .logo{
    color : #2D79B2;
    font-size : 30pt;
    margin : 0px 30px 0px 30px;
}

header li{
    list-style: none;
    float : left;
}

header ul{
    padding : 0px;
    margin : 0px;
}

header .search_bar li{
    line-height : 60px;
}

header .search_bar .search_input{
    border : 5px solid #2D79B2;
    width : 400px;
    height : 30px;
}

header .search_bar{
    float : left;
}

header .btn{
    height : 40px;
    background : #2D79B2;
    color : white;
    line-height : 40px;
    text-align : center;
    margin : 10px;
    padding : 0px 10px 0px 10px;
    -webkit-border-radius : 5px;
    -moz-border-radius : 5px;
    border-radius : 5px;
    font-size : 11pt;
    cursor : pointer;
}

header .btn:hover{
    background : #74C3FF;
}

/* container
---------------------------------------------------*/
main {
    width : 860px;
    margin : 0px auto;
    margin-top : 20px;
}

main li{
    list-style: none;
}




/* entry_pane
---------------------------------------------------*/
.entry_pane{
    width : 640px;
    float : left;
}

.entry_pane .entry{
    border : 3px solid #2D79B2;
    -webkit-border-radius : 5px;
    -moz-border-radius : 5px;
    border-radius : 5px;
    margin : 10px 0px 10px 0px;
    width : 600px;
    padding : 10px 0px 10px 0px;
    background : white;
}

.entry_pane .entry:hover{
    border : 3px solid #FFAD0B;
}

.entry_header{
    font-size : 9pt;
    color : gray;
    text-align : left;
}

.entry_header .ui-icon{
    float : right;
    margin : 0px 5px 0px 5px;
    opacity : 0.5;
    cursor : pointer;
}

.entry_header .ui-icon:hover{
    opacity : 0.8;
}

.entry_header .date{
    margin-left : 20px;
}

.entry_header ul{
    margin : 0px;
    padding : 0px;
}

.entry_content .word{
    font-size : 25pt;
    color : #2D79B2;
    margin-left : 10px;
    height : 50px;
    line-height : 50px;
}

.entry_content .def{
    font-size : 10pt;
    margin-left : 20px;
}

.entry_content_menu{
    height : 25px;
}

.entry_content_menu span{
    width : 70px;
    height : 20px;
    margin : 0px 10px 0px 10px;
    float : right;
    text-align : right;
    line-height : 20px;
    cursor : pointer;
    font-size : 9pt;
    opacity : 0.8;
    color : gray;
}

.entry_content_menu span:hover{
    opacity : 1.0;
    color : dimgray;
}

.entry_content_menu .like{
    background : url(/application/views/img/thumbs-up-icon-blue-hi_s_b.png) no-repeat;
}

.entry_content_menu .dislike{
    background : url(/application/views/img/thumbs-down-icon-blue-hi_s_b.png) no-repeat;
}


/* spot
---------------------------------------------------*/
.spot {
    width: 700px;
    border: 1px solid black;
}


/* aside
---------------------------------------------------*/
.aside{
    width : 200px;
    float : right;
}

.aside .ad_node{
    margin-top : 10px;
}
