/*
Color set

deep blue : 2D79B2
light blue : 74C3FF

deep orange : FFAD0B
light orange : FFCA5E
*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body{
    font-family: 'Nanum Gothic Coding', monospace;
    background : url(../img/index.jpg) repeat;
}


.showBorder {border:1px solid black;}

/* header
---------------------------------------------------*/


/* container
---------------------------------------------------*/
#main {
    width : 860px;
    margin : 0px auto;
    margin-top : 20px;
}

#main li{
    list-style: none;
}



/* entry_pane
---------------------------------------------------*/



/* aside
---------------------------------------------------*/
.aside{
    width : 200px;
    float : right;
}

.aside .ad_node{
    margin-top : 10px;
}
